@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
  }
}

.card-shadow {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03),
    0 24px 72px rgba(0, 0, 0, 0.05),
    0 12px 24px rgba(0, 0, 0, 0.05);
}